.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background-size: cover;
}

.wrapper {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .logo {
    height: 40px;
}

.wrapper .loginButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.register .container {
    width: 100%;
    height: 80vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: white;
    height: 50px;
    border-radius: 5px;
}

.input input {
    height: 100%;
    padding: 0px 10px;
    flex: 9;
    border: none;
}

.input button {
    flex: 3;
    height: 100%;
    height: 100%;
    background-color: red;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}